.custom-shape-divider-top-1666523515 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1666523515 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1666523515 .shape-fill {
  fill: #04bfad;
}
