nav {
  transition: all 0.3s ease-in-out;
}
.nav_item {
  line-height: 30px;
}

.nav_item::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav_item:hover:after {
  width: 100%;
  background: #40ff96;
}
.is-active {
  border-radius: 8px;
  color: #40ff96 !important;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.656);
}
