.container--gallery {
  margin-top: 40px;
  margin-bottom: 40px;
}
.container--gallery .row {
  margin-left: -4px;
  margin-right: -4px;
}
.container--gallery [class*="col-"] {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
}

.photo-zoom {
  outline: 0;
  overflow: hidden;
  position: relative;
  display: block;
  height: 230px;
}
.photo-zoom img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}
[class*="-1"]:not([class*="-10"]):not([class*="-11"]):not([class*="-12"])
  .photo-zoom
  img,
[class*="-2"] .photo-zoom img,
[class*="-3"] .photo-zoom img {
  width: auto;
  height: 100%;
}

.image-source-link {
  color: #98c3d1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  transition: all 0.23s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
